<div class="hero-image">
  <div class="hero-text">
    <h1>All available offers in your area</h1>
    <p>View offers and choose which ones to water</p>
  </div>
</div>

<ul>
  <% @offers.each do |offer| %>
    <li><%= url("offer.image_url") %></li>
    <li><%= link_to offer.address, offers_path(offer) %></li>
    <li><%= offer.price %></li>
    <li><%= offer.description %></li>
    <li><%= offer.instruction %></li>
  <% end %>
</ul>
