<div class="hero-image">
  <div class="hero-text">
    <h1>All available offers in your area</h1>
    <p>View offers and choose which ones to water</p>
  </div>
</div>


<%# WIP-cards from Lena %>

<div class="container mb-5">
  <div class="row my-2">
    <% @offers.each do |offer| %>
      <div class="col-12 col-sm-6 mb-4">
        <div class="bg-white rounded shadow h-100">
          <% if offer.image_urls.attached? %>
            <%= cl_image_tag offer.image_urls.first.key, width: 540, height: 300, crop: :fill, class: 'index-img rounded-top' %>
          <% end %>
          <div class="p-3 rounded-bottom d-flex flex-column">
            <strong><%= link_to offer.title, offer_path(offer) %> <span class="text-muted font-weight-normal"> - <%= offer.date %> </span></strong>
            <small class="text-muted"><%= offer.address %></small>
            <div class="d-flex align-items-end justify-content-between pt-4">
              <div>
                <i></i><small class="flex-grow-1"> </small>
              </div>
              <span class="text-right flex-shrink-0 font-weight-big text-muted"><%= offer.price %> €</span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



<%# Cards from Jorge %>

<% @offers.each do |offer| %>
  <div class="card-offer d-flex">
    <% if offer.image_urls.attached? %>
      <%= cl_image_tag offer.image_urls.first.key, crop: :fill %>
    <% end %>
    <div class="p-2 flex-fill">
      <div class="card-offer-infos">
        <div>
          <h2><%= link_to offer.address, offer_path(offer) %></h2>
          <p><%= offer.title %></p>
        </div>
        <h2 class="card-offer-pricing"><%= offer.date %> | <%= offer.price %>€</h2>
        <%= image_tag "avatar_01", class: "card-offer-user avatar-bordered" %>
      </div>
      </div>
    <div class="p-2 flex-fill">
      <div id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
<% end %>
