<!-- <h1>What are the specs of your new offer?</h1>
<%= render "form", offer: @offer %>
 -->

<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>New offer</h3>
        <%= simple_form_for @offer do |f| %>
          <%= f.input :title, :label => 'Title:', :required => true %>
          <%= f.input :address, :label => 'Address:' %>
          <%= f.input :description, :label => 'Describe your place:', :required => true %>
          <%= f.input :instruction, :label => 'Instructions for caring for the plants:' %>
          <%= f.input :date, :label => 'Beginning of your vacation:', :required => true %>
          <%= f.input :price, input_html: { min: '0' }, :label => 'Price you want to pay:', :hint => "prices are in €", :required => true %>
          <%= f.input :image_urls, as: :file, input_html: { multiple: true }, :label => 'Please upload images of your plants (max. 3):'  %>
          <%= f.submit class: 'btn btn-flat' %>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to 'Back', offers_path, class: 'btn btn-flat' %>
</div>
