<p id="notice"><%= notice %></p>

// IMAGE?
// <p>
//   <strong>Title:</strong>
//   <%= @offer.title %>
// </p>

<p>
  <strong>Title:</strong>
  <%= @offer.title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @offer.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @offer.description %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @offer.instruction %>
</p>

<p>
  <strong>date:</strong>
  <%= @offer.date %>
</p>

<%= link_to 'Back', offers_path %>