

<div class="offer-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @offer.image_url  %>);">
</div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @offer.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @offer.description %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @offer.instruction %>
</p>

<p>
  <strong>date:</strong>
  <%= @offer.date %>
</p>

<%= link_to 'Back', offers_path %>
